#logo{
    width: 100px;
    height: 100px;
    margin: auto;    
    display: block;
}

h1{
    font-family: 'Tangerine', cursive;
    font-size: 100px;
}
#hero{
    position: relative;
    z-index: -1;
}
#jumbotron{
    position: absolute;
    top: 150px;
    left: 20px;
    font-family: 'Playfair Display', serif;
}
#cards{
    font-family: 'Playfair Display', serif;
}
h5{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}
#address{
    line-height: 80%;
}